.tree-container {
  width: 100%;
  height: 100%;

  .nodeBase {
    .tree-node-text {
      width: auto;
      width: fit-content;
      max-width: 45vw;
    }
  }

  .leafNodeBase {
    fill: white;
  }

  svg > g {
    transition-property: translateX, all;
    transition-duration: 0s, 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s, 0s;
  }
}