@import 'styles/variables/_themes';

.topic-box {
  position: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  width: 300px;
  height: 225px;
  margin: 30px;
  color: #FFF;
  font-size: 2em;
  border: 1px solid black;

  text-align: center;
  line-height: 0;

  img {
    width: 300px;
    height: 225px;
    object-fit: cover;
    transition: all .25s linear 0s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .topic-label {
    position: absolute;
    width: fit-content;
    max-width: 250px;
    margin: 0;
    padding: 5px;
    background: rgba(0,0,0,.4);
    box-sizing: border-box;
  }

  &.initial {
    margin-right: 500px;
  }

  &:nth-child(5n + 1) {
    background-color: $main-background-1;
  }
  &:nth-child(5n + 2) {
    background-color: $main-background-2;
  }
  &:nth-child(5n + 3) {
    background-color: $main-background-3;
  }
  &:nth-child(5n + 4) {
    background-color: $main-background-4;
  }
  &:nth-child(5n + 5) {
    background-color: $main-background-5;
  }
}