.home--container {
    display: contents;
    height: 100%;
    width: 80vw;
    overflow: hidden;

    .section {

      &:nth-child(1) {
        background-image: url('images/coffee.jpg');
        z-index: 1;
      }
      &:nth-child(2) {
        background-image: url('images/couch.jpg');
        z-index: 2;
      }
      &:nth-child(3) {
        background-position-x: 72%;
        background-image: url('images/gloves.jpg');
        z-index: 3;
      }

      &:before{
        background: rgba(0,0,0,.8);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
}