
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

#root {
  height: inherit;
  width: inherit;
}

#container {
  height: inherit;
  width: inherit;
  background-color: thistle;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.topics {
  display: inline-block;
  height: auto;
  width: 80vw;

  list-style-type: none;
  column-count: 4;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

ul {
  display: inline-block;
  height: 40vh;
  overflow: hidden;
}

li {
  overflow-y: auto;
}

li:hover {
  font-size: larger;
  color: sienna;
}