@import 'styles/variables/_layout';

.topics--container {
  @extend %content-container;
  // position: $content-container-position;
  // top: $content-container-top;
  // width: $content-container-width;
  // overflow: auto;

  .topic-boxes-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}