.section {
  position: relative;
  height: 97%;
  width: 33.33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  overflow: hidden;

  &--title-overlay {
    background: #FFF;
    height: 305px;
    width: 620px;
    position: absolute;
    bottom: -85px;
    z-index: 2;

    transform: rotate(335deg);
    transition: bottom 0.3s ease-in-out 0s;
  }

  &--title {
    color: #000;
    position: absolute;
    bottom: 50px;
    margin: 0;
    padding: 0;
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    width: fit-content;
    font-weight: normal;
    right: 20px;
    z-index: 3;
  }

  &--cta {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 0px;
    margin: auto;
    left: 1px;
    right: 1px;
    bottom: -15px;
    z-index: 1;

    color: #FFF;
    background: rgba(0,0,0,0.0);
    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .section--cta {
      background: rgba(0,0,0,0.6);
      bottom: 55%;
      font-size: 35px;
    }

    .section--title {
      color: #FFF;

      &-overlay {
        bottom: -30%;
      }
    }

  }
}