.image--container {
  width: 35vw;
  height: 100%;
  z-index: 1;

  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}