.banner {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1467245891624-dff3e966bcca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-container {
  position: absolute;
  top: 7%;
  left: 20%;
  width: 20%;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightskyblue;
}

.cta {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #F3EDE6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-text {
  font-size: large;
  margin: 0 10px;
  text-align: center;
}