.banner {
  display: block;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1523043829291-4195e5c69656?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=8'); /* https://images.unsplash.com/photo-1467245891624-dff3e966bcca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80 */
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .cta-container {
    position: absolute;
    top: 5%;
    right: 15%;
    width: 20%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(120,150,202,.4);

    .cta {
      width: 150px;
      height: 50px;
      border: 1px solid black;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cta-text {
      font-size: large;
      margin: 0 10px;
      text-align: center;
    }
  }

  .landing-logo {
    position: absolute;
    top: -100px;
    left: 0;
  }
}

.landing-fold {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:800px;
}