// helper
@function build-url($resource, $size: $thumb) {
  @return $domain + $resource + $meta + $size
};

// sizes
$full: '&fm=jpg&q=80';
$regular: '&fm=jpg&fit=crop&w=1080&q=80&fit=max';
$small: '&fm=jpg&w=400&fit=max';
$thumb: '&fm=jpg&w=200&fit=max';

// constants
$domain: 'https://images.unsplash.com/';
$meta: '?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9';

// topics
$angel: 'photo-1554714915-9ee8b3bf57db';
$animal: 'photo-1503431128871-cd250803fa41';
$aristocracy: 'photo-1571571854913-a6d8b59377e0';
$art: 'photo-1545989253-02cc26577f88';
$astronomy-and-cosmology: 'photo-1543722530-d2c3201371e7';
$beauty: 'photo-1500964757637-c85e8a162699';
$being: 'photo-1541265313101-7043fb302244';
$cause: 'photo-1512138664757-360e0aad5132';
$chance: 'photo-1568743966689-d37c04538535';
$change: 'photo-1459478309853-2c33a60058e7';
$citizen: 'photo-1566663972955-25cacaa61e38';
$logic: 'photo-1509228468518-180dd4864904';
$constitution: 'photo-1506886009355-7f3af05dd5d2';
$courage: 'photo-1495602787267-96ab76127c2a';
$custom-and-convention: 'photo-1519475889208-0968e5438f7d';
$definition: 'photo-1456081101716-74e616ab23d8';
$democracy: 'photo-1541543969587-06bf065f8784';
$desire: 'photo-1511028897949-27b3f9f7924d';
$dialectic: '';
$duty: 'photo-1498898822751-a786e6e70dbd';
$education: 'photo-1488254491307-10ca8fa174c8';
$element: 'photo-1524999454668-adebce70bea9';
$emotion: 'photo-1523803326055-9729b9e02e5a';
$eternity: 'photo-1442323794357-25b2ec110967';
$evolution: '';
$experience: 'photo-1529564269951-ab1c08249552';
$family: 'photo-1438962136829-452260720431';
$fate: 'photo-1565492206137-0797f1ca6dc6';
$form: 'photo-1523730205978-59fd1b2965e3';
$god: 'photo-1470859685138-71dd60ed39b1'; // photo-1520187044487-b2efb58f0cba; photo-1500835176302-48dbd01f6437
$good-and-evil: '';

// routes
$search: 'photo-1485847791529-09ed2263da0b';
$search-big: build-url($search, $full);

// dynamic react classNames
:export {
  angel: build-url($angel);
  animal: build-url($animal);
  aristocracy: build-url($aristocracy);
  art: build-url($art);
  astronomy-and-cosmology: build-url($astronomy-and-cosmology);
  beauty: build-url($beauty);
  being: build-url($being);
  cause: build-url($cause);
  chance: build-url($chance);
  change: build-url($change);
  citizen: build-url($citizen);
  logic: build-url($logic);
  constitution: build-url($constitution);
  courage: build-url($courage);
  custom-and-convention: build-url($custom-and-convention);
  definition: build-url($definition);
  democracy: build-url($democracy);
  desire: build-url($desire);
  dialectic: build-url($dialectic);
  duty: build-url($duty);
  education: build-url($education);
  element: build-url($element);
  emotion: build-url($emotion);
  eternity: build-url($eternity);
  evolution: build-url($evolution);
  experience: build-url($experience);
  family: build-url($family);
  fate: build-url($fate);
  form: build-url($form);
  god: build-url($god);
  angel-big: build-url($angel, $regular);
  animal-big: build-url($animal, $regular);
  aristocracy-big: build-url($aristocracy, $regular);
  art-big: build-url($art, $regular);
  astronomy-big-and-cosmology: build-url($astronomy-and-cosmology, $regular);
  beauty-big: build-url($beauty, $regular);
  being-big: build-url($being, $regular);
  cause-big: build-url($cause, $regular);
  chance-big: build-url($chance, $regular);
  change-big: build-url($change, $regular);
  citizen-big: build-url($citizen, $regular);
  logic-big: build-url($logic, $regular);
  constitution-big: build-url($constitution, $regular);
  courage-big: build-url($courage, $regular);
  custom-big-and-convention: build-url($custom-and-convention, $regular);
  definition-big: build-url($definition, $regular);
  democracy-big: build-url($democracy, $regular);
  desire-big: build-url($desire, $regular);
  dialectic-big: build-url($dialectic, $regular);
  duty-big: build-url($duty, $regular);
  education-big: build-url($education, $regular);
  element-big: build-url($element, $regular);
  emotion-big: build-url($emotion, $regular);
  eternity-big: build-url($eternity, $regular);
  evolution-big: build-url($evolution, $regular);
  experience-big: build-url($experience, $regular);
  family-big: build-url($family, $regular);
  fate-big: build-url($fate, $regular);
  form-big: build-url($form, $regular);
  god-big: build-url($god, $regular);
}
