$main-background-1: #244F75;
$main-background-2: #60BFBF;
$main-background-3: #8C4B7E;
$main-background-4: #F8BB44;
$main-background-5: #F24B4B;

$thought-provoking-background-1: rgb(236,208,120); // #ECD078
$thought-provoking-background-2: rgb(217,91,67);   // #D95B43
$thought-provoking-background-3: rgb(192,41,66);   // #C02942
$thought-provoking-background-4: rgb(84,36,55);    // #542437
$thought-provoking-background-5: rgb(83,119,122);  // #53777A

$giant-goldfish-background-1: rgb(105,210,231); // 69D2E7
$giant-goldfish-background-2: rgb(167,219,216); // A7DBD8
$giant-goldfish-background-3: rgb(224,228,204); // E0E4CC
$giant-goldfish-background-4: rgb(243,134,48);  // F38630
$giant-goldfish-background-5: rgb(250,105,0);   // FA6900