.landing-input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 70%;
}

.no-suggestions {
  position: absolute;
  top: 100%;
  background-color: rgba(120, 150, 202, 0.4);
  padding: 0.5rem;
}

.suggestions {
  position: absolute;
  top: 100%;
  background-color: rgba(120, 150, 202, 0.4);
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;

  li {
    padding: 0.5rem;
  }

  &-active, li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }

  li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }
}



