.autocomplete--container {
  position: fixed;
  top: 0;
  left: 20vw;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;

  height: 50px;
  padding: 0 10px;
  z-index: 3;

  background: rgba(0, 0, 0, 0.7);

  .autocomplete-input {
    background: rgba(0, 0, 0, 0.0);
    color: white;
    font-family: futura;

    width: fit-content;
    height: 100%;
    padding: 0 10px;
    border: none;
    font-size: 16px;

    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .autocomplete-select {
    width: fit-content;
    padding: 0 10px;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0.0);
    // background-color: rgba(120, 150, 202, 0.4);

    .autocomplete-option {
      height: auto;
      width: 100%;
      font-size: 16px;
      white-space: pre-wrap;
      font-family: futura;
      padding: 0 10px;
      transition: background 0.3s ease-in 0s;


      &.active, :checked {
        cursor: pointer;
      }
    }
  }

  .no-suggestions {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    width: 100%;
    height: 1em;
    background-color: rgba(120, 150, 202, 0.4);
    font-size: 16px;
  }
}
