@import 'styles/variables/_layout.scss';
@import 'styles/variables/_images.scss';

.search--container {
  width: $content-container-width;
  height: $content-container-height;
  position: $content-container-position;

  background: url($search-big);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  overflow: hidden;

  .selection-container {
    width: 50%;
    height: 10%;
  }

  .concept-tree-container {
    width: 100%;
    height: 100%;
  }
}
