@import 'styles/variables/_layout.scss';

.search--container {
  width: $content-container-width;
  height: $content-container-height;
  position: $content-container-position;

  background: url("./images/search.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  overflow: hidden;
}
