@import 'styles/variables/_layout';

.reference--container {
    position: $content-container-position;
    width: $content-container-width;
    height: 100vh;
    display: flex;
    overflow: hidden;

  .list--container {

    .reference-title {
      position: absolute;
      font-size: x-large;
    }

    .reference-list {
      position: absolute;
      height: 95%;
      width: auto;
      overflow: auto;

      &-item {
        width: inherit;
        height: auto;
        min-height: 2em;
        border: 1px solid black;
        border-radius: 0 15px 0 15px;
        margin: 35px 15px;
        padding: 25px;

        .quote {
          line-height: 1.5em;
        }

        .attribution {
          position: relative;
          top: 39px;
          left: 10%;
          width: fit-content;
          max-width: 90%;
          padding: 5px;
          border: 1px solid grey;
          background: white;

          .p-link {
            text-decoration: underline;
            color: blue;
          }
        }
      }
    }
  }
}

